@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Poppins&display=swap");
* {
  font-family: "Oswald", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

.navbar-hover {
  @apply transition duration-300 ease-in-out hover:text-bluetheme;
}

.active {
  @apply text-theme rounded bg-bluetheme p-1;
}

.homeIcons {
  @apply text-bluetheme transition duration-300 ease-in-out border-bluetheme border-2 rounded-xl hover:scale-125 hover:text-darktheme hover:border-darktheme;
}
