@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Poppins&display=swap");
* {
  font-family: "Oswald", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

*::-webkit-scrollbar {
  width: 8px;
  border-radius: 20px;
}

*::-webkit-scrollbar-track {
  background-color: transparent;
  border-radius: 20px;
}

*::-webkit-scrollbar-thumb {
  background: #525ceb;
  border-radius: 10px;
  transition: 0.8s ease all;
}

*::-webkit-scrollbar-thumb:hover {
  cursor: pointer;
  background: #5e67e1;
  height: 100px;
  transition: 0.8s ease all;
}

.transitions {
  @apply transition duration-200 ease-linear;
}

.navbar-hover {
  @apply transition duration-300 ease-linear hover:text-bluetheme p-2 md:p-0;
}
.navbar-hover-icons {
  @apply transition duration-300 ease-linear hover:text-bluetheme dark:text-darktheme p-2 md:p-0;
}
.active {
  @apply text-darktheme dark:text-theme md:text-theme md:dark:text-darktheme rounded bg-bluetheme p-2 my-1 md:my-0;
}

.homeIcons {
  @apply transition-all ease-in-out duration-700 text-bluetheme  border-bluetheme border-2 rounded-xl hover:scale-125 hover:text-darktheme hover:border-darktheme dark:hover:text-theme dark:hover:border-theme;
}

.title {
  @apply absolute bottom-0 left-0 right-0 top-0 z-10 bg-darktheme dark:bg-theme;
}

/* .tabStyle {
  @apply transitions !font-oswald !text-xl !rounded-md !font-normal !px-4 !py-2 !my-2 !bg-gray-300 !w-96;
}
.tabStyleActive {
  @apply !bg-darktheme !text-theme;
} */

.tabStyle {
  @apply shadows transitions duration-200 ease-linear hover:shadow-lg hover:bg-gray-400 dark:hover:bg-gray-900 rounded-md font-normal px-4 py-2 bg-gray-300 dark:bg-gray-800 dark:text-theme md:w-[100px] xl:w-72 flex  items-center justify-center gap-3;
}

.tabStyleActive {
  @apply bg-bluetheme text-theme hover:bg-bluetheme;
}

.resumeContainer {
  @apply flex flex-col p-2;
}

.image-clip {
  clip-path: polygon(33% 0, 55% 100%, 0 100%, 0 0);
}

.gradient-color {
  @apply bg-gradient-to-tr from-theme to-gray-300 dark:bg-gradient-to-tr dark:from-darktheme dark:to-gray-900;
}

/* .background-gradient {
  background-image: linear-gradient(
    rgba(255, 255, 255, 0),
    rgba(255, 255, 255, 0.9)
  );
  height: 50%;
  position: absolute;
  top: auto;
  bottom: 0%;
  left: 0%;
  right: 0%;
  opacity: 0.5;
} */

.shadows {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}
